@import '../../assets/css/variables.css';

.header {
  background: var(--colorBlack);
  color: var(--colorWhite);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--headerHeight);
  line-height: var(--headerHeight);
}

.item {
  display: inline-block;
}
