@import '../../../assets/css/variables.css';

.panel {
  height: 25vh;
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (--medium) {
  .panel {
    background-image: none !important;
  }
}

.content {
  width: calc(6 / var(--columnCount) * 100%);
  padding-right: var(--gutter);
}

@media (--medium) {
  .content {
    width: calc(10 / var(--columnCount) * 100%);
  }
}

@media (--small) {
  .content {
    width: calc(12 / var(--columnCount) * 100%);
    padding-right: 0;
    height: auto;
  }
}

.mrRed {
  composes: panel;
  composes: mrRed from "../themes.module.css";
  background-image: url('../img/mr-red.png');
  background-position: 75% center;
  background-size: auto 50%;
}

.ahm {
  composes: panel;
  composes: ahm from "../themes.module.css";
  background-image: url('../img/ahm.png');
  background-position: 75% center;
  background-size: auto 50%;
}

.lifeWithBird {
  composes: panel;
  composes: lifeWithBird from "../themes.module.css";
  background-image: url('../img/life-with-bird.jpg');
  background-position: 75% center;
}

.chadstone {
  composes: panel;
  composes: chadstone from "../themes.module.css";
  background-image: url('../img/chadstone.jpg');
  background-position: 65% center;
}
