@import '../../css/variables.css';

.light {
  border-color: var(--colorBlack);
  color: var(--colorBlack);
}

.dark {
  border-color: var(--colorWhite);
  color: var(--colorWhite);
}

/* Improve readability. */
.mrRed h1,
.mrRed h2,
.mrRed h3,
.mrRed p {
  text-shadow: 0px 0px 5px #359bed;
}
