.github {
  .icon {
    background-color: #181717;

    svg {
      fill: var(--color-white);
    }
  }
}

.linkedin {
  &:hover {
    background-color: var(--color-blue-50);
  }

  .icon {
    background-color: #0077b5;

    svg {
      fill: var(--color-white);
    }
  }
}

.x {
  .icon {
    background-color: #000;

    svg {
      fill: var(--color-white);
    }
  }
}

.instagram {
  &:hover {
    background-color: var(--color-purple-50);
  }
  .icon {
    background: radial-gradient(
        circle farthest-corner at 35% 90%,
        #fec564,
        transparent 50%
      ),
      radial-gradient(
        circle farthest-corner at 0 140%,
        #fec564,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 0 -25%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 20% -50%,
        #5258cf,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 0,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 60% -20%,
        #893dc2,
        transparent 50%
      ),
      radial-gradient(
        ellipse farthest-corner at 100% 100%,
        #d9317a,
        transparent
      ),
      linear-gradient(
        #6559ca,
        #bc318f 30%,
        #e33f5f 50%,
        #f77638 70%,
        #fec66d 100%
      );

    svg {
      fill: var(--color-white);
    }
  }
}

.email {
  &:hover {
    background-color: var(--color-teal-50);
  }
  .icon {
    background: var(--color-teal-600);

    svg {
      fill: var(--color-white);
    }
  }
}
