@import '../../css/variables.css';

.content {
  padding: 20vh 0 10vh;
  min-height: calc(100vh - var(--headerHeight));
  opacity: 1;
}

.content a {
  border-bottom: 1px solid;
}

@media (--medium) {
  .content {
    padding: 10vh 0 5vh;
  }
}
