<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{if .Title}}{{.Title}} | {{end}}Oliver Benns - Software Engineer</title>
		<meta name="description" content="{{.Description}}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="{{if .Title}}{{.Title}}{{else}}Oliver Benns - Software Engineer{{end}}" />
		<meta property="og:description" content="{{.Description}}" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://oliverbenns.com/assets/preview.png" />
		<meta property="og:url" content="https://oliverbenns.com{{.Path}}" />
		<meta property="og:site_name" content="Oliver Benns" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@oliverbenns" />
		<meta name="twitter:creator" content="@oliverbenns" />
		<meta property="twitter:image" content="https://oliverbenns.com/assets/preview.png" />
		<meta name="theme-color" content="#000000">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16.png" />
		<link rel="stylesheet" type="text/css" href="/assets/styles.css" />
		<script>
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

			ga("create", "UA-42854706-1", "auto");
			ga("send", "pageview");
		</script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<section>
			{{template "main" .}}
		</section>
		<footer>
			<span>© 2021 Oliver Benns. All rights reserved.</span>
			<nav>
				<ul>
					<li>
						<a
							href="https://github.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
							>
							<img src="/assets/github.svg" alt="Github icon" />
						</a>
					</li>
					<li>
						<a
							href="https://linkedin.com/in/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
							>
							<img src="/assets/linkedin.svg" alt="Linkedin icon" />
						</a>
					</li>
					<li>
						<a
							href="https://twitter.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
							>
							<img src="/assets/twitter.svg" alt="Twitter icon" />
						</a>
					</li>
					<li>
						<a
							href="https://instagram.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
							>
							<img src="/assets/instagram.svg" alt="Instagram icon" />
						</a>
					</li>
					<li>
						<a
							href="https://twitch.tv/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
							>
							<img src="/assets/twitch.svg" alt="Twitch icon" />
						</a>
					</li>
				</ul>
			</nav>

		</footer>
	</body>
</html>
