@import '../../css/variables.css';

.fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  composes: fullscreen;
  margin-top: calc(var(--headerHeight) * -1);
}
