@import '../../../assets/css/variables.css';

.download {
  display: inline-block;
}

.avatar {
  animation: float 6s ease-in-out infinite;
  position: relative;
}

.avatar img {
  margin: 0 auto;
}

@keyframes float {
  0% {
    top: 0;
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    top: -5vh;
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
   top: 0;
   transform: rotate(2deg);
  }
}
