@import '../../../assets/css/variables.css';

.panel {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  min-height: calc(100vh - var(--headerHeight));
}

.page a {
  border-bottom: 1px solid;
}

.mrRed {
  composes: mrRed from "../themes.module.css";
  composes: page;
}

.ahm {
  composes: ahm from "../themes.module.css";
  composes: page;
}

.lifeWithBird {
  composes: lifeWithBird from "../themes.module.css";
  composes: page;
}

.chadstone {
  composes: chadstone from "../themes.module.css";
  composes: page;
}
