@import '../../css/variables.css';
.container {
  padding: 10px;
}

.icon {
  width: 28px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  cursor: pointer;
}

.icon span {
  display: block;
  position: absolute;
  height: 20%;
  width: 100%;
  background: var(--colorWhite);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0;
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 40%;
}

.icon span:nth-child(4) {
  top: 80%;
}

.active {
  composes: icon;
}

.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.active span:nth-child(2) {
  transform: rotate(45deg);
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



