@import '../../../assets/css/variables.css';

.page {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.background {
  background-repeat: repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: backgroundScroll linear infinite;
  z-index: 1;
}

.background1 {
  composes: background;
  background-image: url('./img/background-1.png');
  animation-duration: 12.5s;
}


.background2 {
  composes: background;
  background-image: url('./img/background-2.png');
  animation-duration: 25s;
}

.background3 {
  composes: background;
  background-image: url('./img/background-3.png');
  animation-duration: 37.5s;
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 360px; /* Must match background image height */
  }
}
