.fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stop crushing the content*/

@media only screen and (max-device-width : 768px) and (orientation: landscape) {
  .fullscreen {
    height: 100vw;
  }
}

