@import '../../../css/variables.css';

.content {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}

@media (--small) {
  .content {
    flex-direction: column;
  }
}

.information,
.media {
  flex: 0 0 auto;
}

.media {
  width: calc(6 / var(--columnCount) * 100%);
  padding-right: var(--gutter);
}

.information {
  width: calc(5 / var(--columnCount) * 100%);
  margin-left: calc(1 / var(--columnCount) * 100%);
}

@media (--small) {
  .content, .media {
    margin-bottom: 5vh;
  }

  .information {
    width: 100%;
  }

  .information,
  .media {
    padding-right: 0;
    margin-left: 0;
  }

  .media {
    width: 50%;
  }
}
