html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: 'athelas', 'Times New Roman', Times, serif;
	color: #222;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}
::selection {
	background: #f7f7f7;
}

::-moz-selection {
	background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.5;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'p22-underground-pc', Arial, Helvetica;
}
h1 {
	font-size: 24px;
	margin-bottom: .8rem;
}

h2 {
	font-size: 20px;
	margin-bottom: .5rem;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

p {
	line-height: 1.4;
	margin: 0 0 1em 0;
}

a {
	color: #222;
	outline: 0;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
	text-decoration: none;
}

.wrapper {
	max-width: 768px;
	margin: 0 auto 45px auto;
	border: 1px solid #666;
	padding: 45px;
	background: #fff;
}

@media only screen and (max-width: 480px) {
	.wrapper {
		padding: 30px;
	}
}

.header {
	text-align: center;
	margin: 45px auto;
}

.header h1 {
	margin-bottom: 20px;
}

.header p {
	font-style: italic;
}

@media only screen and (max-width: 840px) {
	.header {
		text-align: left;
	}
}

.table__row {
	clear: both;
	border-bottom: 1px solid #666;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	zoom: 1;
}

.table__row:last-child {
	border-bottom: 0;
}

@media only screen and (max-width: 840px) {
	.table__row {
		border: 0;
		display: block;
		text-align: left;
	}
}

.table__cell {
	padding: 30px;
	border-right: 1px solid #666;
	white-space: nowrap;
	overflow: hidden;
}

.table__cell:last-child {
	border-right: 0;
}

.table__cell p {
	margin: 0;
}

.table__cell i {
	line-height: 27px;
	vertical-align: middle;
}

@media only screen and (max-width: 840px) {
	.table__cell {
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		-o-box-flex: 0;
		box-flex: 0;
		-webkit-flex: none !important;
		-ms-flex: none !important;
		flex: none !important;
		float: none;
		width: 100%;
		padding-left: 0;
		border: 0;
	}
}

@media only screen and (max-width: 480px) {
	.table__cell i {
		font-size: 14px;
		line-height: 27px;
	}
}

.table__cell--small {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.table__cell--large {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-o-box-flex: 2;
	box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.table__icon {
	vertical-align: middle;
	margin-right: 15px;
	display: inline-block;
}

.easter-egg {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 5px;
	cursor: help;
}

body {
	background: #eeeeee
}
