@import './variables.css';

@font-face {
    font-family: 'Book';
    src: url('../font/lt-book.woff2') format('woff2'),
         url('../font/lt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('../font/medium.woff2') format('woff2'),
         url('../font/medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  font-size: 16px;
}

body {
  font-family: Book, Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 1.375;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (--small) {
  html {
    font-size: 14px;
  }

  body {
    font-size: 16px;
  }
}


h1,
h2,
h3,
h4,
h5 {
  font-family: Medium, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.05;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.222;
}

h5 {
  font-size: 1rem;
  line-height: 1.05;
}

p {
  margin: 1.5rem 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 + p {
  margin-top: 2.5rem
}
