:root {
  /* Layout */
  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  /* Colors */
  --colorBlack: #000;
  --colorWhite: #fff;

  /* Z Index Scale */
  --zIndexHeader: 2;
  --zIndexMenu: 3;
  --zIndexHamburger: 4;
}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
