{{define "main"}}
<h1>{{.Title}}</h1>
<h1>I like messages</h1>
<p>Have a project in mind? Wish to talk about software engineering? Or perhaps invite me to your party?</p>
<p>Don't be a stranger, say hello and send an email:
	<a href="mailto:info@oliverbenns.com?subject=Hello%20Oliver!">
		info@oliverbenns.com
	</a>
</p>
<ul id="link-list">
	<li>
		<a
			href="https://github.com/oliverbenns"
			target="_blank"
			rel="noopener noreferrer"
			>Github</a
		>
	</li>
	<li>
		<a
			href="https://www.linkedin.com/in/oliverbenns"
			target="_blank"
			rel="noopener noreferrer"
			>LinkedIn</a
		>
	</li>
	<li>
		<a
			href="https://twitter.com/oliverbenns"
			target="_blank"
			rel="noopener noreferrer"
			>Twitter</a
		>
	</li>
	<li>
		<a
			href="https://www.instagram.com/oliverbenns"
			target="_blank"
			rel="noopener noreferrer"
			>Instagram</a
		>
	</li>
</ul>
{{end}}
