@import '../../css/variables.css';

.content {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: 0 !important;
}

.content > img {
  display: none;
}

.button {
  width: 3%;
  min-width: 24px;
  background: var(--colorBlack);
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -12px;
}

.content .button {
  animation: flash 3s ease infinite;
}

.content:hover .button {
  animation: none;
}

.active {
  display: block !important;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

