<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{{if .Title}}{{.Title}} - Oliver Benns{{else}}Oliver
			Benns - Software Engineer{{end}}
		</title>
		<meta name="description" content="{{.Description}}" />
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			property="og:title"
			content="{{if .Title}}{{.Title}} - Oliver Benns{{else}}Oliver Benns - Software Engineer{{end}}"
		/>
		<meta property="og:description" content="{{.Description}}" />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://oliverbenns.com/assets/preview.png"
		/>
		<meta
			property="og:url"
			content="https://oliverbenns.com{{.Path}}"
		/>
		<meta property="og:site_name" content="Oliver Benns" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@oliverbenns" />
		<meta name="twitter:creator" content="@oliverbenns" />
		<meta
			property="twitter:image"
			content="https://oliverbenns.com/assets/preview.png"
		/>
		<meta name="theme-color" content="#000000" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/assets/favicon-32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/assets/favicon-16.png"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="/assets/styles.css"
		/>
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-T5D43YYZE9"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-T5D43YYZE9");
		</script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<section>{{template "main" .}}</section>
		<footer>
			<span>© 2023 Oliver Benns. All rights reserved.</span>
			<nav>
				<ul>
					<li>
						<a
							href="https://github.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="/assets/github.svg"
								alt="Github icon"
							/>
						</a>
					</li>
					<li>
						<a
							href="https://linkedin.com/in/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="/assets/linkedin.svg"
								alt="Linkedin icon"
							/>
						</a>
					</li>
					<li>
						<a
							href="https://twitter.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="/assets/twitter.svg"
								alt="Twitter icon"
							/>
						</a>
					</li>
					<li>
						<a
							href="https://instagram.com/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="/assets/instagram.svg"
								alt="Instagram icon"
							/>
						</a>
					</li>
					<li>
						<a
							href="https://twitch.tv/oliverbenns"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img
								src="/assets/twitch.svg"
								alt="Twitch icon"
							/>
						</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
