@import './variables.css';

/* Opinionated resets */

*, *:before, *:after {
  box-sizing: border-box;
}

/* Responsive images */
img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

::selection {
  /*http://stackoverflow.com/questions/8372334/css-selection-background-000000-color-ffffff-not-appearing-as-full-b*/
  background: rgba(0, 0, 0, 0.99);
  color: var(--colorWhite);
  opacity: 1;
}
