@import './variables.css';

@font-face {
    font-family: 'Book';
    src: url('../font/lt-book.woff2') format('woff2'),
         url('../font/lt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('../font/medium.woff2') format('woff2'),
         url('../font/medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  font-size: 16px;
}

body {
  font-family: Book, Arial, Helvetica, sans-serif;
  color: var(--colorBlack);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Medium, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.05;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.222;
}

h5 {
  font-size: 1rem;
  line-height: 1.05;
}

p {
  margin: 1.5rem 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

/*@TODO: Work on this some more and calculate good sizing*/

h1 + p,
h2 + p {
  margin-top: 2rem
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5 {
  margin-top: 3rem
}

h3 + p,
h4 + p {
  margin-top: 0.5rem;
}

h2 + h3,
h2 + h4,
h3 + h4 {
  margin-top: 3rem;
}

@media (--small) {
  html,
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2.2857rem;
  }
}
