@import '../../../css/variables.css';

.download {
  display: inline-block;
  margin-right: calc(var(--gutter) / 2);
  border-bottom: 0 !important;
}

.cover {
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 50vh;
}

.intro,
.media {
  width: calc(6 / var(--columnCount) * 100%);
  flex: 0 0 auto;
}

.intro {
  padding-right: var(--gutter);
}

.media img {
  max-height: 60vh;
}

@media (--medium) {
  .media img {
    max-height: 50vh;
  }
}

@media (--small) {
  .intro {
    width: 100%;
    padding-right: 0;
  }

  .cover {
    flex-direction: column-reverse;
  }

  .media {
    margin: 0 auto 5vh auto;
    width: auto;
  }

  .cover {
    margin-bottom: 5vh;
  }

  .download {
    display: inline-block;
    margin-right: calc(var(--gutter) / 4);
    border-bottom: 0 !important;
  }
}
