.macbook {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  width: 75%;
  top: 5.8%;
  left: 12.5%;
  max-height: 81%;
  overflow: hidden;
}
